.form {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  margin-top: -1.5rem;
}

.newTaskInput {
  background-color: var(--grey-500);
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  outline: 1px solid var(--grey-700);
  flex-grow: 1;
  color: var(--grey-100);
}

.newTaskInput:focus {
  outline: 1px solid var(--purple-dark);
}

.newTaskInput::placeholder {
  color: var(--grey-300);
}

.createTaskBtn {
  background: var(--blue-dark);
  border: 0;
  border-radius: 0.5rem;
  color: var(--grey-100);
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
}

.createTaskBtn:hover {
  background: var(--blue-base);
  cursor: pointer;
}